<!-- Footer-->
<footer class="bg-dark pt-5">
    <!-- Subscription-->
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center pb-4 text-center text-md-left" style="margin-top: -2%">
            <div class="order-2">
                <a class="footer-link text-white" href="#">SnowTricks@2021</a>
            </div>
            <p class="m-0 text-sm text-white order-1">
                <span class='opacity-60'>© All rights reserved. Made with</span>
                <i class='d-inline-block align-middle fe-icon-heart text-danger'></i>
                <span>by alkoma-jr</span>
            </p>
        </div>
    </div>
</footer>
<!-- Back To Top Button-->
<a class="scroll-to-top-btn" href="#"><i class="fe-icon-chevron-up"></i></a>
<!-- Backdrop-->
<div class="site-backdrop"></div>
