<!-- Copyright -->
<div class="copyright_wrap copyright_style_menu" style="position: fixed; bottom: 0; left: 0; top: 92%; width: 100%">
    <div class="copyright_wrap_inner">
        <div class="content_wrap">
            <div class="copyright_text">
                <p>
                    <a href="{{ path('home') }}">Alkoma</a> © 2021 {{ 'All Rights Reserved.'|trans }}
                </p>
            </div>
        </div>
    </div>
</div>
<!-- /Copyright -->
