{% extends 'layouts/base.html.twig' %}

{% block body %}
    {% block header %}{{ include('partials/_navbar.html.twig') }}{% endblock %}

    <!-- Page Content-->
    <!-- Hero Slider-->
    <section class="owl-carousel dots-inside controls-hidden-mobile" data-owl-carousel="{ &quot;nav&quot;: true, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;autoplay&quot;: false, &quot;autoplayTimeout&quot;: 7000 }">
        <div class="bg-cover bg-center bg-no-repeat py-5" style="background-image: url({{ asset('build/images/sntHome.jpg') }});"><span class="bg-overlay"></span>
            <div class="container bg-content py-md-5">
                <div class="row justify-content-center py-md-5">
                    <div class="col-12 text-center py-md-5">
                        <div class="d-flex align-items-center w-100 bg-no-repeat bg-center" style="min-height: 448px; background-size: 452px 448px; background-image: url(#);">
                            <div class="mx-auto">
                                <h2 class="display-4 text-white"><em class='font-weight-light'>Focusing on</em> Excellence</h2>
                                <p class="text-xl text-white opacity-75 pb-4">
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right mr-4">
                <a class="btn btn-style-4 btn-dark opacity-70" href="#"><i class="fe-icon-chevron-down"></i></a>
            </div>
        </div>
    </section>
    <!-- Projects-->
    <section class="bg-secondary py-5" id="projects">
        <div class="container">
            <h2 class="py-3 text-center text-lg-left">{{ 'Tricks'|trans }}</h2>
        </div>
        <div class="container-fluid">
            <div class="isotope-grid filter-grid cols-5">
                <div class="gutter-sizer"></div>
                <div class="grid-sizer"></div>
                <!-- Item-->
                <a class="grid-item commercial img-thumbnail p-1 mb-30 text-decoration-none" href="#">
                    <img src="#" alt="Project">
                    <h3 class="text-lg p-3 mb-0 text-center">Project name</h3>
                </a>
            </div>
        </div>
    </section>
{% endblock %}
